	 	 <!-- working -->
	 	 <script language="javascript" src="jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	     <script language="javascript" src="js/Site.js"></script>

<footer>
	
</footer>
</body>
</html>
