<div class="wrapper">
    <nav id="sidebar" class="active">
        <button type="button" id="sidebarCollapse" name="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="fas fa-align-right"></i>
            </button>

        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3 id="logo">HMS</h3>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li>
                <a href="/">
                    <i class="fas fa-home"></i>
                    اﻟﺮﺋﻴﺴﻴﺔ
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-building"></i>
                    اﻟﺸﻘﻖ ﻭاﻟﺘﺴﻜﻴﻦ
                </a>
                <ul class="collapse list-unstyled right-to-left" id="pageSubmenu">
                    <li>
                        <a id="btnManageRooms" style="cursor: pointer;">ﺇﺩاﺭﺓ ﺣﺎﻟﺔ اﻟﺸﻘﻖ</a>
                    </li>
                    <li>
                        <a id="btnCheckIn" style="cursor: pointer;">ﺗﺴﻜﻴﻦ ﻋﻤﻴﻞ</a>
                    </li>
                    <li>
                        <a id="btnCheckOut" style="cursor: pointer;">ﻣﻐﺎﺩﺭﺓ ﻋﻤﻴﻞ</a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="#">
                    <i class="fas fa-window-restore"></i>
                    اﻟﺘﺄﺟﻴﺮ ﻭاﻟﺤﺠﻮﺯاﺕ
                </a>
            </li>
            <li>
                <a href="#bills" data-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-bold"></i>
                    السندات
                </a>
                <ul class="collapse list-unstyled right-to-left" id="bills">
                    <li>
                        <a href="/ManageFreeBookings">سندات القبض</a>
                    </li>
                    <li>
                        <a href="~/Pages/Management/CheckIn">الخدمات</a>
                    </li>
                    <li>
                        <a href="~/Pages/Management/CheckOut">الكمبيالات</a>
                    </li>
                    <li>
                        <a href="~/Pages/Management/CheckOut">سندات الصرف</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-users"></i>
                    العملاء
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-servicestack"></i>

                    الخدمات
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-envelope"></i>

                    الرسائل
                </a>
            </li>
            <li>
                <a href="#">
                        <i class="fas fa-file-alt"></i>
                        التقارير
                </a>
            </li>
        </ul>
    </nav>