<div class="wrapper">
    <nav id="sidebar" class="active">
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-right"></i>
        </button>

        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3 id="logo">HMS</h3>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li>
                <a href="/">
                    <i class="glyphicon glyphicon-home"></i>
                    اﻟﺮﺋﻴﺴﻴﺔ
                </a>
                <a href="#">
                    <i class="glyphicon glyphicon-briefcase"></i>
                    اﻟﺘﺄﺟﻴﺮ ﻭاﻟﺤﺠﻮﺯاﺕ
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-duplicate"></i>
                    اﻟﺸﻘﻖ ﻭاﻟﺘﺴﻜﻴﻦ
                </a>
                <ul class="collapse list-unstyled right-to-left" id="pageSubmenu">
                    <li>
                        <a href="/ManageFreeBookings">ﺇﺩاﺭﺓ ﺣﺎﻟﺔ اﻟﺸﻘﻖ</a>
                    </li>
                    <li>
                        <a href="~/Pages/Management/CheckIn">ﺗﺴﻜﻴﻦ ﻋﻤﻴﻞ</a>
                    </li>
                    <li>
                        <a href="~/Pages/Management/CheckOut">ﻣﻐﺎﺩﺭﺓ ﻋﻤﻴﻞ</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-link"></i>
                    المزيد
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-send"></i>
                    ﺗﻮاﺻﻞ ﻣﻌﻨﺎ
                </a>
            </li>
        </ul>
    </nav>
