<div class="top-nav">

    <a id="nav_wifi_icon" href="#">
        <span class="hint--bottom hint--rounded" aria-label="متصل">
            <i class="fas fa-wifi"></i>
        </span>
    </a>
    <a id="nav_settings_icon" href="#">
        <span class="hint--bottom hint--rounded" aria-label="الإعدادات">
            <i class="fas fa-cogs"></i>
        </span>
    </a>
    <a id="nav_users_icon" href="#">
        <span class="hint--bottom hint--rounded" aria-label="المستخدمين">
            <i class="fas fa-users"></i>
        </span>
    </a>

    


</div>