<div class="top-nav">
    
    <a id="nav_wifi_icon" aria-disabled="true">
        <span class="hint--bottom hint--rounded" aria-label="متصل">
            <i class="fas fa-wifi"></i>
        </span>
    </a>
    <a id="nav_settings_icon" href="/settings">
        <span class="hint--bottom hint--rounded" aria-label="الإعدادات">
            <i class="fas fa-cogs icon"></i>
        </span>
    </a>
    <a id="nav_users_icon" href="/logout">
        <span class="hint--bottom hint--rounded" aria-label="المستخدمين">
                <i class="fas fa-user icon"></i>
            </span>
    </a>
    <h4><%= Page.title %></h4>
    


</div>