<% include ../../partials/header %>



  <% include ../../partials/sideNav %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="styles/ManageFreeBookings.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.mobile.min.css" />
    <div class="myContainer">
      <div class="content">
        <% include ../../partials/topNav %>


          <!-- <div class="page-btn btn-manageFreeBooking" href="#animatedModal">
            <img src="imgs/buildings.png">
            <span class="tooltiptext">اﺩاﺭﺓ اﻟﺸﻘﻖ</span>

          </div>
          <div class="page-btn btn-logIn" href="#animatedModal">
            <i class="far fa-address-book"></i>
            <span class="tooltiptext">ﺗﺴﺠﻴﻞ ﺩﺧﻮﻝ</span>
          </div>
          <div class="page-btn btn-logOut" href="#animatedModal">
            <i class="fas fa-sign-out-alt"></i>
            <span class="tooltiptext">ﺗﺴﺠﻴﻞ ﺧﺮﻭﺝ</span>
          </div> -->





          <div class="nav nav-tabs pdr10">
              <a class="nav-item nav-link active fontDroid" id="nav-home-tab" data-toggle="tab" href="#manageRooms" role="tab" aria-controls="manageRooms" aria-selected="true">إدارة الشقق</a>
              <a class="nav-item nav-link fontDroid" id="nav-profile-tab" data-toggle="tab" href="#checkIn" role="tab" aria-controls="checkIn" aria-selected="false">تسجيل الدخول</a>
              <a class="nav-item nav-link fontDroid" id="nav-contact-tab" data-toggle="tab" href="#checkOut" role="tab" aria-controls="checkOut" aria-selected="false">تسجيل الخروج</a>
            <!-- <li class="active pull-right fontDroid">
              <a data-toggle="tab" href="#manageRooms">إدارة الشقق</a>
            </li>
            <li class="pull-right fontDroid">
              <a data-toggle="tab" href="#checkIn">تسجيل الدخول</a>
            </li>
            <li class="pull-right fontDroid">
              <a data-toggle="tab" href="#checkOut">تسجيل الخروج</a>
            </li> -->
                <a id="btn_add_a_room" class="hint--right hint--rounded nav-item nav-link" role="tab" aria-label="إضافة غرفة" style="cursor:pointer" data-toggle="modal" data-target="#modelAddRoom">
                  <i class="fas fa-plus"></i>
                </a>
          </div>

          <div class="tab-content" style="padding-top: 30px;">
            <div id="manageRooms" class="tab-pane fade show active" role="tabpanel">

              <% rooms.forEach(room => { %>
                <div class="page-btn btn-room" data-roomnumber=<%=room.roomNumber %>>
                  <label class="lbl-room_number">
                    <%= room.roomNumber%>
                  </label>
                  <img src="imgs/room.png">
                  <span class="tooltiptext">رقم الشقة:
                    <%=room.roomNumber%>
                  </span>
                </div>
                <% }) %>

            </div>


            <div id="checkIn" class="tab-pane fade" role="tabpanel">
              <h3>Menu 2</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                aperiam.</p>
            </div>
            <div id="checkOut" class="tab-pane fade" role="tabpanel">
              <h3>Menu 3</h3>
              <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
          </div>


      </div>
    </div>

    <!-- working
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script language="javascript" src="js/Site.js"></script> -->

    <% include ../../models/checkInModel %>
    <% include ../../models/addingARoom %>

      <% include ../../partials/footer %>
        </body>

        <script src="https://kendo.cdn.telerik.com/2018.1.221/js/jquery.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2018.1.221/js/kendo.all.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="js/ManageFreeBookings.js"></script>


        </html>
        <!-- End of Wrapper -->
        </div>