<% include ../../partials/header %>

  <% include ../../partials/sideNav %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="styles/ManageFreeBookings.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.mobile.min.css" />

    <div class="myContainer">
      <div class="content">
        <% include ../../partials/topNav %>

          <div id="clickme" class="btn-manage-free-booking" href="#animatedModal">
            <img src="imgs/buildings.png">
            <span class="tooltiptext">اﺩاﺭﺓ اﻟﺸﻘﻖ</span>

          </div>
          <div class="btn-manage-free-booking" href="#animatedModal">
            <i class="far fa-address-book"></i>
            <span class="tooltiptext">ﺗﺴﺠﻴﻞ ﺩﺧﻮﻝ</span>

          </div>
          <div class="btn-manage-free-booking" href="#animatedModal">
            <i class="fas fa-sign-out-alt"></i>
            <span class="tooltiptext">ﺗﺴﺠﻴﻞ ﺧﺮﻭﺝ</span>
          </div>


      </div>
    </div>


    <!-- End of Wrapper -->
    </div>

    <div id="checkIn" class="manageFreeBookingModels">
      <div>
        <form>
          <fieldset>
            <label for="name">الاسم</label>
            <input type="text" name="name" id="name"  class="text ui-widget-content ui-corner-all">
            <label for="email">الايميل</label>
            <input type="text" name="email" id="email"  class="text ui-widget-content ui-corner-all">
            <label for="bookingSrc">مصدر الحجز</label>
            <select id="bookingSrc" style="width: 100%; font-family: Droid_Regular" class="bookingSrc">

              <% for(instance in typesOfBooking ){ 
                  if(instance != "_id"){
                %>
                <option value= instance>
                  <%= typesOfBooking[instance]  %>
                </option>
                <%}} %>

            </select>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
          </fieldset>
        </form>
      </div>
    </div>

    <script src="https://kendo.cdn.telerik.com/2018.1.221/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.1.221/js/kendo.all.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="js/ManageFreeBookings.js"></script>


    <% include ../../partials/footer %>