<% include ../../partials/header %>
<% include ../../partials/sideNav %>

    <button  id="checkIn" href="#animatedModal"></button>
 <div id="animatedModal">
        
        <div class="close-animatedModal"> 
            CLOSE MODAL
        </div>
            
        <div class="modal-content">
        	<div class="myContainer"></div>
        </div>
    </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
  


<script>

  $("#demo01").animatedModal();
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/animatedModal.min.js"></script>


<% include ../../partials/footer %>