<% include partials/header %>

        <% include partials/sideNav %>
        
                <div class="myContainer">
                        <div class="content">
                                <% include partials/topNav %>





                        </div>
                </div>          
                <% include partials/footer %>
                