<form id="frmCheckIn" action="/ManageFreeBookings/checkIn" method="POST" class="hidden">
    <div id="modelCheckIn" class="model">
      <fieldset>
        <div class="title">
          <h4>معلومات الحجز</h4>
        </div>
        <div class="field-row" style="grid-template-columns:15% 20%;">
          <div class="field-cell">
            <label for="lbl_contractNum">رقم العقد</label>
            <label id="lbl_contractNum" class="fltl">--.--.--</label>
  
          </div>
  
  
          <div class="field-cell">
            <label for="bookingSrc">مصدر الحجز</label>
            <select id="bookingSrc" name="bookingSrc" form="frmCheckIn" class="bookingSrc" style="height: 21px;font-family: Droid_Regular;font-size:0.8em;">
  
              <% bookingSrc.forEach(element => { %>
                <option value=<%=element.id %> >
                  <%= element.type  %>
                </option>
                <%}) %>
  
            </select>
          </div>
        </div>
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </fieldset>
  
      <fieldset>
        <div class="title">
          <h4>الفترة</h4>
        </div>
        <!-- <div class="field-row" style="grid-template-columns:30% 16.3% 16.3% 1.3fr 2fr;">
              <div class="field-cell"></div>
              <div class="field-cell">
                <label>من</label>
  
              </div>
              <div class="field-cell">
                <label>الى</label>
  
  
              </div>
              <div class="field-cell">
                <label>الوقت</label>
  
  
              </div>
              <div class="field-cell"></div>
  
            </div> -->
        <div class="field-row" style="grid-template-columns:20% 50% 30%;">
          <div class="field-cell">
            <label class="dsp-block" for="bookingType">نوع الايجار</label>
            <label class="dsp-block" for="calander">التقويم</label>
          </div>
          <div class="field-cell">
            <select id="bookingType" name="bookingType" form="frmCheckIn" class="form-control wid100 combobox">
              <% bookingTypes.forEach(element => { %>
                <option value=<%=element.id %> >
                  <%= element.type  %>
                </option>
                <%}) %>
  
            </select>
            <select id="" name="calander" form="frmCheckIn" class="form-control wid100 combobox">
  
            </select>
          </div>
          <div class="field-cell">
  
            <label class="dsp-block">ميلادي</label>
            <label class="dsp-block">هجري</label>
          </div>
            <label>من</label>
            <div class='input-group date' id='datetimepicker1'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
                <div class='input-group date' class='datePicker'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>    
            <label>إلى</label>
            <div class='input-group date' class='datePicker'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                  </span>
                </div>
                <div class='input-group date' class='datePicker'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                  </span> 
            </div>
  
            <label>الوقت</label>
            <label class="dsp-block">00:00</label>
            <label class="dsp-block">00:00</label>


          <div class="field-cell">
            <label for="input_daysNum">عدد الأيام</label>
          </div>
          <div class="field-cell">
            <div style="width:211px">
              <input id="input_daysNum" class="text ui-widget-content ui-corner-all" type="text" name="daysNum" form="frmCheckIn" value="1"
                style="width:40px">
            </div>
          </div>
        </div>
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
      </fieldset>
      <fieldset>
        <div class="title">
          <h4>الشقة والعميل</h4>
        </div>
        <div class="field-row" style="grid-template-columns:12% 31% 30%;">
  
          <div class="field-cell">
            <table class="wid100">
              <tr>
                <td>
                  <label class="dsp-block">الشقة</label>
                </td>
                <td>
                  <label name="lbl_roomNumber" id="lbl_roomNumber">:100</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="dsp-block">سعر الشقة</label>
                </td>
                <td>
                  <label name="lbl_dailyPrice" id="lbl_roomNumber" class="dsp-block">:100</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="dsp-block">سعر الذروة</label>
  
                </td>
                <td>
                  <label name="lbl_peakPrice" id="lbl_peakPrice" class="dsp-block">:150</label>
                </td>
              </tr>
            </table>
          </div>
  
          <div class="field-cell pdr80">
            <table class="wid100">
              <tr>
                <td>
                  <label class="dsp-block">العميل</label>
                </td>
                <td>
                  <label class="dsp-block">:-- -- --</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="dsp-block">الشركة</label>
                </td>
                <td>
                  <label class="dsp-block">:-- -- --</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="dsp-block">المرافقون</label>
  
                </td>
                <td>
                  <select name="" id="" class="form-control combobox"></select>
                </td>
              </tr>
            </table>
  
          </div>
  
          <div class="field-cell">
            <i></i>
            <i></i>
            <i></i>
          </div>
  
        </div>
  
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
      </fieldset>
      <fieldset>
        <div class="title">
          <h4>المالية</h4>
        </div>
  
        <div class="field-row" style="grid-template-columns:2fr repeat(4 , 1fr) 1fr;">
  
          <div class="field-cell">
            <div>
              <label>المقبوضات</label>
              <select name="" id="" class="form-control combobox fltl wid65"></select>
  
            </div>
            <div>
              <label>المصروفات</label>
              <select name="" id="" class="form-control combobox fltl wid65"></select>
  
            </div>
            <div>
              <label>الخدمات</label>
              <select name="" id="" class="form-control combobox fltl wid65"></select>
  
            </div>
            <div>
              <label>الايجار اليومي</label>
              <input type='text' class="form-control fltl wid65" style="display:inline-block" />
              <button style="display:inline-block" class="mybtn-dialog ui-button ui-corner-all ui-widget">تغيير</button>
  
            </div>
            <div>
              <label>نوع الخصم</label>
              <select name="" id="" class="form-control combobox fltl wid65"></select>
  
            </div>
            <div>
              <label>مبلغ الخصم</label>
              <select name="" id="" class="form-control combobox fltl wid65"></select>
  
            </div>
            <input type='text' class="form-control fltl wid65" />
            <button style="display:inline-block" class="mybtn-dialog ui-button ui-corner-all ui-widget">تغيير</button>
          </div>
          <div class="field-cell">
            <i></i>
            <i></i>
            <i></i>
          </div>
          <div class="field-cell">
            <i></i>
            <i></i>
            <i></i>
          </div>
          <div class="field-cell">
            <i></i>
          </div>
          <div class="field-cell">
            <table class="wid100">
              <tr>
                <td>
                  <label class="dsp-block">المقبوض</label>
                </td>
                <td>
                  <label class="dsp-block">:0</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="dsp-block">بدل الإيجار</label>
                </td>
                <td>
                  <label class="dsp-block">:0</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="dsp-block">التأمين</label>
                </td>
                <td>
                  <label class="dsp-block">:0</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="dsp-block">التكلفة الكلية</label>
                </td>
                <td>
                  <label class="dsp-block">:0</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="dsp-block">التكلفة النهائية</label>
                </td>
                <td>
                  <label class="dsp-block">:0</label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="dsp-block">الرصيد</label>
                </td>
                <td>
                  <label class="dsp-block">:0</label>
                </td>
              </tr>
            </table>
  
  
  
  
  
          </div>
  
        </div>
  
  
        <!-- <label for="name">الاسم</label>
            <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all">
            <label for="email">الايميل</label>
            <input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all"> -->
  
  
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
      </fieldset>
      <fieldset>
        <div class="title">
          <h4>ملاحظات</h4>
        </div>
        <textarea class="form-control" name="notes" id="notes" form="frmCheckIn" cols="30" rows="2" style="width:100%"></textarea>
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
      </fieldset>
    </div>
  </form>