<div id="ReportsModel" class="modal fade" role="dialog" aria-labelledby=" " aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fontDroidBold pdr20" id="AddRoomTitle">تقرير</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmTemplate" action="" method="POST">
                    <div class="field-row pdlr100">
                    <label class="fontDroid " for="Fdate" style="font-size:15px;padding-bottom:10px">من:</label>
                    <input id="Fdate" type="date" >
                    <label class="fontDroid " for="Ldate" style="font-size:15px;padding-bottom:10px">الى:</label>
                    <input  id="Ldate" type="date" >

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="" type="button" form="frmTemplate" class="btn btn-primary">استعراض</button>
                <button id="" type="button" class="btn btn-secondary" data-dismiss="modal"> الغاء الأمر</button>
            </div>
        </div>
    </div>
</div>