<div id="roomTypesModal" class="modal fade" role="dialog" aria-labelledby="Room Types" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fontDroidBold pdr20" id="AddRoomTitle">أنواع الغرف</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


            </div>
            <div class="modal-footer">
                <button id="btn" type="submet" form="" class="btn btn-primary">حفظ</button>
                <button id="btnClose" type="button" class="btn btn-secondary formClose" data-dismiss="modal"> الغاء الأمر</button>
            </div>
        </div>
    </div>
</div>