<div id="ServicesModel" class="modal fade" role="dialog" aria-labelledby=" " aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fontDroidBold pdr20" id="AddRoomTitle">اضافة خدمة</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmAddService" action="/Services/addService" method="POST">
                    
                    <div class="field-row" style="grid-template-columns:50%;">
                        <div class="field-cell">
                            <fieldset id="FsAddRoomBasicInfo" class="pdlr30">
                                <div class="title">
                                    <h4>المعلومات الأساسية</h4>
                                </div>

                                <div class="wid100 pd20">
                                    <table class="wid100">
                                        <tr>
                                            <td>
                                                <label for="name">رقم الخدمة</label>
                                            </td>
                                            <td>
                                                    <div class="wrap-input100 validate-input m-b-26 fontDroid" data-validate="رقم الغرفة مطلوب">
                                                            <input class="input100 fontDroid" type="text" name="serviceNumber" form="frmAddService" placeholder="1">
                                                            <span class="focus-input100"></span>
                                                        </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="floor">اسم الخدمة</label>
                                            </td>
                                            <td>
                                                    <div class="wrap-input100 validate-input m-b-26 fontDroid" data-validate="رقم الغرفة مطلوب">
                                                            <input class="input100 fontDroid" type="text" name="serviceName" form="frmAddService" placeholder="عشاء">
                                                            <span class="focus-input100"></span>
                                                        </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="naroomsNumberme">نوع الخدمة</label>
                                            </td>
                                            <td>
                                                    <div class="wrap-input100 validate-input m-b-26 fontDroid" data-validate="رقم الغرفة مطلوب">
                                                            <input class="input100 fontDroid" type="text" name="serviceType" form="frmAddService" placeholder="تغذية">
                                                            <span class="focus-input100"></span>
                                                        </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="bathrooms">سعر الخدمة</label>
                                            </td>
                                            <td>
                                                    <div class="wrap-input100 validate-input m-b-26 fontDroid" data-validate="رقم الغرفة مطلوب">
                                                            <input class="input100 fontDroid" type="text" name="servicePrice" form="frmAddService" placeholder="25">
                                                            <span class="focus-input100"></span>
                                                        </div>
                                            </td>
                                        </tr>
                                        
                                       
                                        
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                        
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="" type="submet" form="frmAddService" class="btn btn-primary">حفظ</button>
                <button id="" type="button" class="btn btn-secondary" data-dismiss="modal"> الغاء الأمر</button>
            </div>
        </div>
    </div>
</div>