<div id="UpdateServicesModel" class="modal fade" role="dialog" aria-labelledby=" " aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fontDroidBold pdr20" id="AddRoomTitle">تعديل الخدمة</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="lds-ellipsis hidden">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                <form id="frmUpdateService" action="Services/updateService/" method="POST">
                    
                    <div class="field-row" style="grid-template-columns:50% 50%;">
                        <div class="field-cell">
                            <fieldset id="FsAddRoomBasicInfo" class="pdlr30">
                                <div class="title">
                                    <h4>المعلومات الأساسية</h4>
                                </div>

                                <div class="wid100 pd20">
                                    <table class="wid100">

                                        <tr>
                                            <td>
                                                <label for="name">رقم الخدمة</label>
                                            </td>
                                            <td>
                                                <input  class="form-control wid100 fltl" name="serviceNumber" form="frmUpdateService" type="text">
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="floor">اسم الخدمة</label>
                                            </td>
                                            <td>
                                                <input class="form-control wid100 fltl" name="serviceName" form="frmUpdateService" type="text">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="naroomsNumberme"> نوع الخدمة</label>
                                            </td>
                                            <td>
                                                <input class="form-control wid100 fltl" name="serviceType" form="frmUpdateService" type="text">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="bathrooms">  سعر الخدمة</label>
                                            </td>
                                            <td>
                                                <input class="form-control wid100 fltl" name="servicePrice" form="frmUpdateService" type="text">
                                            </td>
                                        </tr>
                                        
                                        
                                       
                                        
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                        
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="" type="submet" form="frmUpdateService" class="btn btn-primary">حفظ</button>
                <button id="" type="button" class="btn btn-secondary" data-dismiss="modal"> الغاء الأمر</button>
            </div>
        </div>
    </div>
</div>