<% include ../partials/header %>



  <% include ../partials/sideNav %>
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <link rel="stylesheet" href="styles/ManageFreeBookings.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.mobile.min.css" />
    <div class="myContainer">
      <div class="content">
        <% include ../partials/topNav %>

        
          <a data-toggle="modal" data-target="#updateRoomModal">
            <div class="page-btn btn-room btn-room-update">
                  
                   <label class="lbl-room_number">
                     
                   </label>
                   <img src="imgs/room.png">
                   <span class="tooltiptext">
                  تقرير الحسابات
                  
                    </span>
            </div>
          </a>
          


      </div>
    </div>

    <% include ../partials/footer %>
      </body>


      <script src="https://kendo.cdn.telerik.com/2018.1.221/js/jquery.min.js"></script>
      <script src="https://kendo.cdn.telerik.com/2018.1.221/js/kendo.all.min.js"></script>
      <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
      <script type="text/javascript" src="js/ManageFreeBookings.js"></script>




      </html>
      <!-- End of Wrapper -->
      </div>