<% include ../partials/header %>



  <% include ../partials/sideNav %>
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <!-- <link rel="stylesheet" href="styles/ManageFreeBookings.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.mobile.min.css" /> -->
    <div class="myContainer">
      <div class="content ">
        <% include ../partials/topNav %>

        <div class="center3d">
        
          <a data-toggle="modal" data-target="#ReportsModel">
            <div class="page-btns reportDiv" id="checkIns"  >
              
                   <label class="lbl-room_number">
                     
                   </label>
                   <img src="imgs/room.png">
                   <span class="tooltiptext ">
                  تقرير الحجوزات
                  
                    </span>
            </div>
          </a>


          <a data-toggle="modal" data-target="#ReportsModel">
              <div class="page-btns reportDiv" id="customers" >
                    
                     <label class="lbl-room_number">
                       
                     </label>
                     <img src="imgs/room.png">
                     <span class="tooltiptext">
                    تقرير العملاء
                    
                      </span>
              </div>
            </a>


            <a data-toggle="modal" data-target="#ReportsModel">
                <div class="page-btns reportDiv" id="accounts" >
                      
                       <label class="lbl-room_number">
                         
                       </label>
                       <img src="imgs/room.png">
                       <span class="tooltiptext">
                      تقرير الحسابات
                      
                        </span>
                </div>
              </a>


              <a data-toggle="modal" data-target="#ReportsModel">
                  <div class="page-btns reportDiv" id="services" >
                        
                         <label class="lbl-room_number">
                           
                         </label>
                         <img src="imgs/room.png">
                         <span class="tooltiptext ">
                        تقرير الخدمات
                        
                          </span>
                  </div>
                </a>


                <a data-toggle="modal" data-target="#ReportsModel">
                    <div class="page-btns reportDiv" id="Purchases" >
                          
                           <label class="lbl-room_number">
                             
                           </label>
                           <img src="imgs/room.png">
                           <span class="tooltiptext ">
                          تقرير المشتريات
                          
                            </span>
                    </div>
                  </a>


                  <a data-toggle="modal" data-target="#ReportsModel">
                      <div class="page-btns reportDiv" id="rooms" >
                            
                             <label class="lbl-room_number">
                               
                             </label>
                             <img src="imgs/room.png">
                             <span class="tooltiptext ">
                            تقرير حالة الغرف
                            
                              </span>
                      </div>
                    </a>

            </div>

            


      </div>
    </div>

    <% include ../partials/footer %>
      </body>
      <% include ../models/ReportsModel %>
      <% include ../models/ShowReportModel %>


      <script src="https://kendo.cdn.telerik.com/2018.1.221/js/jquery.min.js"></script>
      <script src="https://kendo.cdn.telerik.com/2018.1.221/js/kendo.all.min.js"></script>
      <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
      <script type="text/javascript" src="js/reports.js"></script>




      </html>
      <!-- End of Wrapper -->
      </div>