<% include ../partials/header %>

    <% include ../partials/sideNav %>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="styles/settings.css">
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.common-material.min.css" />
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.min.css" />
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.mobile.min.css" />

        <div class="myContainer">
            <div class="content">
                <% include ../partials/topNav %>


                <div id="btnBookingTypes" class="page-btn btn-bookingTypes">
                        <i class="fas fa-list-ul"></i>
                        <span class="tooltiptext">أنواع الحجز</span>
                </div>
                <div id="btnBookingTypes" class="page-btn btn-bookingTypes">
                        <i class="fas fa-list-ul"></i>
                        <span class="tooltiptext">أنواع الحجز</span>
                </div>
                <div id="btnBookingTypes" class="page-btn btn-bookingTypes">
                        <i class="fas fa-list-ul"></i>
                        <span class="tooltiptext">أنواع الحجز</span>
                </div>
                <div id="btnBookingTypes" class="page-btn btn-bookingTypes">
                        <i class="fas fa-list-ul"></i>
                        <span class="tooltiptext">أنواع الحجز</span>
                </div>
                <div id="btnBookingTypes" class="page-btn btn-bookingTypes">
                        <i class="fas fa-list-ul"></i>
                        <span class="tooltiptext">أنواع الحجز</span>
                </div>
                <div id="btnBookingTypes" class="page-btn btn-bookingTypes">
                        <i class="fas fa-list-ul"></i>
                        <span class="tooltiptext">أنواع الحجز</span>
                </div>
                <div id="btnBookingTypes" class="page-btn btn-bookingTypes">
                        <i class="fas fa-list-ul"></i>
                        <span class="tooltiptext">أنواع الحجز</span>
                </div>
                <div id="btnBookingTypes" class="page-btn btn-bookingTypes">
                        <i class="fas fa-list-ul"></i>
                        <span class="tooltiptext">أنواع الحجز</span>
                </div>
                <div id="btnBookingTypes" class="page-btn btn-bookingTypes">
                        <i class="fas fa-list-ul"></i>
                        <span class="tooltiptext">أنواع الحجز</span>
                </div>
                <div id="btnBookingTypes" class="page-btn btn-bookingTypes">
                        <i class="fas fa-list-ul"></i>
                        <span class="tooltiptext">أنواع الحجز</span>
                </div>
                <div id="btnBookingTypes" class="page-btn btn-bookingTypes">
                        <i class="fas fa-list-ul"></i>
                        <span class="tooltiptext">أنواع الحجز</span>
                </div>
                <div id="btnBookingTypes" class="page-btn btn-bookingTypes">
                        <i class="fas fa-list-ul"></i>
                        <span class="tooltiptext">أنواع الحجز</span>
                </div>
            </div>
        </div>


        <div id="settings_modules">
            

        </div>
        <!-- End of Wrapper -->
        </div>

        <script src="https://kendo.cdn.telerik.com/2018.1.221/js/jquery.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2018.1.221/js/kendo.all.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="js/settings.js"></script>
        <% include ../partials/footer %>