.create-user-interface-animation {
  animation: openingForm 0.5s ease-in-out forwards;
}

@-moz-keyframes openingForm {
  0% {
    width: 0%;
    height: 0px;
  }
  100% {
    width: 50%;
    height: 600px;
  }
}

@keyframes openingForm {
  0% {
    width: 0%;
    height: 0px;
  }
  100% {
    width: 50%;
    height: 600px;
  }
}

@-webkit-keyframes openingForm {
  0% {
    width: 0%;
    height: 0px;
  }
  100% {
    width: 50%;
    height: 600px;
  }
}

.obacity-fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

#FsAddRoomBasicInfo label:not([class="title"]),
.FsAddRoomLeft label:not([class="title"]) {
  font-size: 16px !important;
  padding-top: 3px;
}
#FsAddRoomBasicInfo label:not([class="title"]) {
  margin-bottom: 0.3rem !important;
}

.FsAddRoomLeft label:not([class="title"]),.FsAddRoomLeft input[type="checkbox"] {
cursor: pointer ;
}
#FsAddRoomBasicInfo input,
#FsAddRoomBasicInfo select {
  height: 27px !important;
}

.FsAddRoomLeft .form-check-input {
  width: 25px !important;
  height: 25px !important;
}

.alert-validate::before{
  font-size: 9px !important;
}