.create-user-interface-animation {
  animation: openingForm 0.5s ease-in-out forwards;
}

@-moz-keyframes openingForm {
  0% {
    width: 0%;
    height: 0px;
  }
  100% {
    width: 50%;
    height: 600px;
  }
}

@keyframes openingForm {
  0% {
    width: 0%;
    height: 0px;
  }
  100% {
    width: 50%;
    height: 600px;
  }
}

@-webkit-keyframes openingForm {
  0% {
    width: 0%;
    height: 0px;
  }
  100% {
    width: 50%;
    height: 600px;
  }
}

.obacity-fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.hidden {
  visibility: hidden;
}

#checkIn {
  display: grid;
  grid-gap: 15px;
  padding: 20px 5px;
  background-color: #efefef;
}

.k-widget{
    /* position: relative;
    top:-5px; */
}
