@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url('https://fonts.googleapis.com/css?family=Patua+One');

/* Responsive: Portrait tablets and up */


/* Move down content because we have a fixed navbar that is 50px tall */

:root {
    --footerHeight: 10vh;
}

body {
    padding: 0px;
    /*background-color: #cfcfcf;*/
}


/* Wrapping element */


/* Set some basic padding to keep content from hitting the edges */

footer {
    position: fixed;
    bottom: 0vh;
    /* width: 100%;
    height: var(--footerHeight);
    background-color: #fefcfc;
    box-shadow: inset 0px 10px 0px -6px #077f8b;
    grid-auto-rows: 0%; */
}


.footer-distributed{
	background-color: #001117f2;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
    width: 100%;
    height: var(--footerHeight);
	text-align: left;
	font: normal 16px sans-serif;

	padding: 20px 25px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
   */


/* Set widths on the form inputs since otherwise they're 100% wide */

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i, span {
    display: inline-block;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
    ----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    text-align: center;
    min-width: 250px;
    max-width: 250px;
    background: rgb(10, 36, 46);
    color: #fff;
    transition: all 0.3s;
}

.myContainer {
    width: 100%;
    background-color: #dfeaf2;
    box-shadow: inset -10px 0px 0px -6px #7db0e3;
}

.content {
    padding: 20px;
    min-height: calc(100vh - var(--footerHeight));
    transition: all 0.3s;
}

.top-nav {
    height: 60px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 1px -1px;
    border-radius: 7px;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3 {
    display: none;
}

#sidebar ul li a {
    text-align: right;
}

#sidebar.active ul li a {
    padding: 15px 10px;
    text-align: center;
    font-size: 1em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 15px;
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    left: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #07162b;
}

.right-to-left {
    direction: ltr;
}


/* ---------------------------------------------------
    MEDIAQUERIES
    ----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    a[aria-expanded="false"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar .sidebar-header h3 {
        display: none;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
        font-size: 1.3em;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebarCollapse {
        display: inline-block;
    }
}

nav {
    font-family: 'Droid Arabic Kufi', serif;
}

#logo {
    font-family: 'Patua One', cursive;
}